#listaVacia {
    width: 100%;
    background-color: var(--gris-claro-color);
    padding: 2rem;
}

#listaVacia>div{
    width: 80%;
    margin: 0 auto;
    padding: 2rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    border: 0.3em solid var(--morado-color);
    border-radius: 1rem;
    background-color: var(--blanco-color);
    color: var(--gris-oscuro-color);
    box-shadow: 0 0.1em 0.3em black
}

#listaVacia>div div{
    font-size: 3rem;
    margin-bottom: 1rem;
    color: var(--purpura-color);
}

#listaVacia>div p {
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--gris-azul2-color); /* Gris morado */
}
  