/* masInfo.css */

/*CONTENEDOR PRINCIPAL*/ 
#contenidoCancion{
    margin-top: 1.5rem;       
    margin-bottom: 1.5rem;    
    width: 100%;              
    padding: 1rem;            
  }
  /*REPRODUCTOR*/ 
  #reproductor {
    width: auto;
    background-color: #52666A;
  }
  
  .btnCancionAnterior{
    border-radius: 10%;
    width: 20%;
    background-color: #ffffff;
    font-weight: bold;
  }
  
  .btnCancionAnterior:hover{
    background-color: #c6c6c6;
  }
  
  .btnCancionPosterior{
    border-radius: 10%;
    width: 20%;
    background-color: #ffffff;
    font-weight: bold;
    margin-left: 5%;
  }
  
  .btnCancionPosterior:hover{
    background-color: #c6c6c6;
  }
  
  .btnPlay{
    border-radius: 10%;
    width: 20%;
    background-color: #ffffff;
    font-weight: bold;
    margin-left: 5%;
  }
  
  .btnPlay:hover{
    background-color: #c6c6c6;
  }

  .reproductorAlineacion{
    text-align:center;
    width: 80%;
  }
  .progress{
    width: 100%;
    color: #ffffff
  }
  .progreso{
    width: 30%;
    background-color: #000;
  }
  
  .btnDeseaAlbum{
    color: rgb(201, 0, 0);
    margin-right: 1em;
  }

  .btnDeseaAlbum:hover{
    color: rgb(120, 2, 2);
  }
  
  .btnFavoriteAlbum{
    color: rgb(246, 255, 0);
    margin-left: 1em;
  }

  .btnFavoriteAlbum:hover{
    color: rgb(212, 219, 8);
  }
  /*PRECIO*/
  .precio {
    font-size: 2rem;
    font-weight: bold;
    color: #000;
  }
  
  /* BOTÓN COMPRAR */
  .btn-comprar {
    background-color: #39FF14;
    border-color: #27c010;
    color: #fff;
    font-weight: bold;
    transition-duration: 0.4s;
  }
  
  .btn-comprar:hover {
    background-color: #33f515;
    color: black;
  }
  
  /* VALORACIONES */
  .my-icon {
    font-size: 2rem;
    margin-right: 0.3rem;
  }
  
  /*TÍTULO DE LA CANCIÓN*/
  .tituloCancion {
    margin-bottom: 1.5rem;
  }
  
  /*DESCRIPCIÓN DE LA CANCIÓN*/
  .descripcionCancion {
    margin-top: 0.4rem;
    margin-bottom: 1.5rem;
  }
  
  /*COLUMNAS*/
  
  #colDerechaMasInfo {
    margin-left: 3%;
    width: 40%;
  }
  
  #colIzquierdaMasInfo{
    width: 30rem;
  }
  
  
  /*COMENTARIOS USUARIO*/
  
  .cardHeaderComentario {
    display: flex;
    flex-direction: row;
    width: 100%;
    border: 1px solid #ddd;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    background: rgb(238, 238, 238);
    padding-left: 1rem;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    align-items: center;
    gap: 37%;
  }
  
  .cardComentario {
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    background: white;
  }
  
  .cardBodyComentario {
    padding-top: 0.7rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    text-align: left;
    padding-right: 1rem;
  }
  
  
  /*ARTISTA*/
  
  .nombreArtista {
    font-size: 1.3rem;
    color: rgb(142, 142, 142);
    margin-bottom: 0.5rem;
  }
  
  /* ETIQUETAS/TAGS */
  #etiquetas .tags {
    font-size: 0.85rem;
    margin-bottom: 1rem;
    background-color: #572362;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
  }
  
  #etiquetas {
    margin-bottom: 3rem;
  }
  
  /*TRACK LIST*/
  .lista{
    box-shadow: 1% 3% #000;
  }
  .listaTracks{
    display: flex;
    justify-content: space-between;
  }
  
    /* Cambia el fondo del elemento activo al pasar el cursor */
  .list-group-item.active {
    background-color: #52666A; /* Un color un poco más oscuro, por ejemplo */
  }

  .bloqueTitulo{
    display: block;
    margin-right: 60%;
  }
  /*PORTADA ÁLBUM*/
  
  @keyframes rotar {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  #imagenAlbum .portadaAlbumstyle{
    width: 28rem;
    height: auto;
    position: relative;
  }
  