#cesta{
    width: 50vw;
    margin: 0 25vw 0 25vw;
    margin-bottom: 5%;
    margin-top: 5%;
}

#tituloCesta {
    display: flex;
    justify-content: center;
    padding-bottom: 3%;
}

.botonPapelera{
    margin-left: 0.5em;
    background-color: #ef0707;
    color:white;
    border-radius: 10%;
    padding: 0.5em;
}

.botonPapelera:hover{
    filter: brightness(60%);
    cursor: pointer;
}

.botonComprar{
    background-color: var(--verde-color);
    color: var(--blanco-color);
    font-size: 1.75em;
    -ms-text-size-adjust: auto;
    text-align: center;
    border: 0.2em solid var(--verde-color);
    border-radius: 0.2em;
    padding: 1rem 1rem;
    padding-bottom: 0.2em;
    padding-top: 0.2em;
    box-shadow: 4px 4px 7px 0px #0000008f;
    transition: all 0.3s ease-out !important;
}

.botonComprar:active {
    background-color:  var(--blanco-color);
    color: var(--verde-color);
    border: 0.2em solid var(--verde-color);
}

.botonComprar:hover{
    box-shadow: 0px 0px 0px  black;
    cursor: pointer;
}

#divBotonComprar {
    text-align: center;
}

.peticion {
    display: flex;
    justify-content: space-between;
}

.corazon {
    margin-right: 25%;
    padding-top: 1%;
    color: #b91212;
}

#cesta input{
    text-align: center;
    border-radius: 0.8em;
    border: 0.15em solid var(--morado-color);
}

.cestaVacia{
    border: solid rgb(134, 134, 134);
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: center;
    font-size: x-large;
}