#cesta{
    width: 50vw;
    margin: 0 25vw 0 25vw;
    margin-bottom: 5%;
    margin-top: 5%;
}

#tituloCesta {
    display: flex;
    justify-content: center;
    padding-bottom: 3%;
}

.botonPapelera{
    background-color: #ef0707;
    color:white;
    border-radius: 10%;
    padding: 0.5em;
}

.botonPapelera:hover{
    filter: brightness(60%);
    cursor: pointer;
}

.botonComprar{
    background-color: #64cf51;
    color: white;
    font-size: 1.75em;
    -ms-text-size-adjust: auto;
    text-align: center;
    border-radius: 1.25rem;
    box-shadow: 0 0.7rem #999;
    padding: 1rem 1rem;
    padding-bottom: 0.2em;
    padding-top: 0.2em;
}

.botonComprar:hover{
    filter: brightness(60%);
    cursor: pointer;
}

#divBotonComprar {
    text-align: center;
}

.peticion {
    display: flex;
    justify-content: space-between;
}

.corazon {
    margin-right: 25%;
    padding-top: 1%;
    color: #b91212;
}

.cestaVacia{
    border: solid rgb(134, 134, 134);
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: center;
    font-size: x-large;
}